{% extends master %}
{% block title %}
{{ val.title }}
{% endblock %}

{% block body %}
<div class="media">
    <div class="media-left media-middle">
        <img class="media-object" src="{{ val.image.url }}" height="200px" width="200px" alt="...">
        <div class="container">
            {%if user.is_authenticated%}
            <a href="{% url 'music:addsong' val.id %}" class="btn btn-primary" role="button"><span
                    class="glyphicon glyphicon-plus" aria-hidden="true">AddSong</span></a>
            {%endif%}
        </div>
    </div>


    <div class="'media-body">
        {% if val %}
        <table class="table mt-3">
            <tr>
                <td>Song Title</td>
                <td>Artist</td>
                <td>Genre</td>
                <td>Logo</td>
                <td>Action</td>
                {% if user.is_authenticated%}
                <td>Update</td>
                <td>Delete</td>
                {%endif%}
            </tr>

            {% for i in val.song_set.all %}
            <tr>
                <td>{{ i.title }}</td>
                <td>{{ i.artist }}</td>
                <td>{{ i.genre }}</td>
                <td><img src="{{ i.image.url }}" height="50px" width="100px"></td>
                <td>
                    <audio src="{{ i.sfile.url }}" controls="controls"></audio>
                </td>
                {% if user.is_authenticated%}
                <td><a href="{% url 'music:updatesong' i.id %}" class="btn btn-primary" role="button"><span
                        class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
                <td><a href="{% url 'music:deletesong' i.id %}" class="btn btn-primary" role="button"><span
                        class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
                {%endif%}
            </tr>

            {% endfor %}
        </table>
        {% else %}
        <h1>No songs to display.</h1>
        {% endif %}

    </div>
</div>

{% endblock %}